<div class="footer" style="text-align: center; padding: 15px;">
    <h1 style="color: #000000; text-align: center;">Compartilhe seu café nas redes sociais e nos marque 😄</h1>

    <div class="social-icons" style="text-align: center;">
        <a href="https://www.facebook.com/cafelablisbon" target="_blank"><img
                src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-dark-gray/facebook@2x.png"
                alt="Facebook"></a>
        <a href="https://www.instagram.com/cafelabpt/" target="_blank"><img
                src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-dark-gray/instagram@2x.png"
                alt="Instagram"></a>
        <a href="https://www.tiktok.com/@cafelabpt" target="_blank"><img
                src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-dark-gray/tiktok@2x.png"
                alt="TikTok"></a>
    </div>
    <div class="divider"></div>
    <div style="text-align: center;">
        <p>Av. Moçambique 14 A, 2780-027 Oeiras</p>
        <p>cafelabpt@gmail.com</p>
        <p>(+351) 214 420 636</p>
    </div>
</div>